{% extends "base.html.twig" %}
{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">A Warm Welcome!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt
                possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam
                repellat.</p>
            <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
        </header>

        <!-- Page Features -->
        {% set count = 0 %}
        <ul class="chapters row list-unstyled main">
            {% for soura in souras %}




                <li class="col-lg-3 col-md-6 mb-4" style="float: right;">
                    <div class="card h-100">
                        <h3 class="text-center"><a href="">{{ soura.name }}</a></h3>

                        <div class="card-body">
                            <ul class="list-unstyled text-center">
                                <li style="font:bold 100%/2.0 Arial; color:#90a4ae;">{{ soura.place }}</li>
                                <li style="font:bold 100%/2.0 Arial; color:#90a4ae;">عدد الآيات: {{ soura.number }}</li>
                                <li style="font:bold 100%/2.0 Arial; color:#90a4ae;">ترتيب
                                    النزول: {{ soura.orderDown }}</li>
                                <li style="font:bold 100%/2.0 Arial; color:#90a4ae;">عدد
                                    الصفحات: {{ soura.pages | length }}</li>
                            </ul>
                        </div>

                    </div>
                </li>



            {% endfor %}
        </ul>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
